<!--npm init -y  # Inicializa el proyecto Node.js
npm install express mysql2 cors  # Instala Express, mysql2 y CORS
-->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Línea del Tiempo</title>
  <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
  <link rel="stylesheet" href="/css/stylesPI.css">
  <link href="/css/styles.css" rel="stylesheet" />
    <script src="/js/scripts.js"></script>
</head>
<body>
  <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Pitufines de DAM </a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="/">Portfolio</a></li>
                    <!-- About with Submenu -->
                    <li class="nav-item dropdown mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle" href="#about" id="aboutDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nosotros
                        </a>
                        <ul class="dropdown-menu bg-secondary text-uppercase" aria-labelledby="aboutDropdown">
                                <li><a id="btnPortfolioIndiv" class="dropdown-item text-white" href="portfIndividual1" 
                                onclick="setParticipantName('Alba')">Alba</a></li>
                                <li><a id="btnPortfolioIndiv" class="dropdown-item text-white" href="portfIndividual1" 
                                onclick="setParticipantName('Pedro')">Pedro</a></li>
                                <li><a id="btnPortfolioIndiv" class="dropdown-item text-white" href="portfIndividual1" 
                                onclick="setParticipantName('Beatriz')">Beatriz</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="presentation">
        <div class="presentation-text">
            <h1 id="participant-name"></h1> <!-- Este valor será reemplazado dinámicamente -->
            <p id="participant-description"></p> <!-- Este valor será reemplazado dinámicamente -->
            <a id="github-link" href="">Github</a> 

            <div class="imgMovil"></div>
        </div>
    </div>
      
    <div class="timeline-container">
        <div class="timeline">
          <div class="timeline-line"></div> <!-- Línea central -->
          <!-- Los puntos y contenidos se insertarán dinámicamente aquí -->
        </div>
      </div>

  <script src="/js/scriptPI.js"></script>
  <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Educación</h4>
                    <p class="lead mb-0">
                        Instituto Nebrija de Formación Profesional
                        <br />
                        Grado Superior DAM
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Linkedin</h4>
                     <a class="btn1 btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/albacastilla/">
                        <i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn2 btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/pedromartinezi/">
                        <i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn3 btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/beatrizmmdev/">
                        <i class="fab fa-fw fa-linkedin-in"></i></a>   
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Recurso</h4>
                    <p class="lead mb-0">
                        Freelance is a free to use, MIT licensed Bootstrap theme created by
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                        .
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; 2024</small></div>
    </div>
</body>
</html>
